@page "/"
@* @attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")] *@

@inject AuthenticationStateProvider _authenticationStateProvider;

<PageTitle>Home</PageTitle>



@* <AuthorizeView>
    <Authorized>
        <h1>Hello, world!</h1>
        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        <div>
            You must log in to view this page...
        </div>
    </NotAuthorized>
</AuthorizeView> *@

@if (_isAuthenticated)
{
    <div>
        <h1>Hello, world!</h1>
        Welcome to your new app 2.
    </div>
}
else
{
    <div>
        You must log in to view this page 2...
    </div>
}

@code {
    private bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _isAuthenticated = user.Identity.IsAuthenticated;
    }
}